* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(200, 200, 207);
}
header {
  padding: 20px;
  background-color: white;
}

header .container {
  display: flex;
  gap: 10px;
}

.home-container {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.workout {
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  flex: 30%;
  max-width: 300px;
}
.workout p {
  margin: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

form input {
  font-size: 1.2rem;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 9px;
}

form button {
  padding: 10px;
  width: 90px;
  border: none;
  border-radius: 9px;
  margin-top: 10px;
  cursor: pointer;
}
